 <% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
  <% else %>
<div class="pagination"><%= will_paginate models %></div>
    <table class="table table-striped">
		<tr>
			<th><%= t('Task Name') %></th>
			<th><%= t('Description') %></th>
			<th><%= t('Task Status') %></th>
			<th><%= t('Instruction') %></th>
			<th><%= t('Start Date') %></th>
			<th><%= t('Finish Date') %></th>
			<th><%= t('Expedite') %></th>
			<th><%= t('Cancelled') %></th>
			<th><%= t('Completed') %></th>
			<th><%= t('Executioner') %></th>
			<th><%= t('Requested By') %></th>
			<th><%= t('Last Updated By') %></th>
			<th></th>
		</tr>
		<% models.each do |r| %>
		  <tr>
		  	<td><%= link_to r.name, SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape event_task_path(r, :subection => @task_category)}" %></td>
			<td><%= prt(r, :description) %></td>
			<td><%= prt(r, 'task_status.name') if r.task_status_id.present? %></td>
			<td><%= prt(r, :instruction) %></td>
			<td><%= r.start_datetime.strftime("%Y/%m/%d") %></td>
			<td><%= r.finish_datetime.strftime("%Y/%m/%d") %></td>
			<td><%= r.expedite ? t('Yes') : t('No') %></td>
			<td><%= r.cancelled ? t('Yes') : t('No') %></td>
			<td><%= r.completed ? t('Yes') : t('No') %></td>
			<td><%= prt(r, 'executioner.name') if r.executioner_id.present? %></td> 
			<td><%= prt(r, 'requested_by.name') %></td> 
			<td><%= prt(r, 'last_updated_by.name') %></td>    
			<td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape edit_event_task_path(r, :subaction => @task_category)}", :class => BUTTONS_CLS['action']  if has_action_right?('update_'+@task_category, params[:controller], r) %></td>
		  </tr>
		<% end %>
	</table>
	
	<table class="table table-striped">
	  <tr>
	    <th>
	    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('New ' + @task_category.humanize.titleize), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape new_event_task_path(:resource_id => @resource_id, :resource_string => @resource_string, :task_category => @task_category, :subaction => @task_category)}", :class => BUTTONS_CLS['action']  if @task_category.present? && @resource_id.present? && @resource_string.present? && has_action_right?('create_' + @task_category, params[:controller]) %>
	    </th>
	  </tr>
	</table>
	
	<% end %>
	
